<!-- 全局js -->
<script src="{$web_static}plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- 第三方插件，加载进度条 -->
<script src="{$web_static}/plugins/pace/pace.min.js"></script>

<!-- layui -->
<script src="{$web_static}/plugins/layui/layer/layer.js"></script>
<script src="{$web_static}/plugins/layui/laydate/laydate.js"></script>

<!-- 自定义js -->
<script src="{$web_static}/js/layer.com.js"></script>
<script src="{$web_static}/js/common.js"></script>
<script src="{$web_static}/js/vue.js"></script>
<script src="{$js}/hplus.js?v=4.1.0"></script>
<script src="{$js}/contabs.js"></script>
