<div class="fild">
    <div class="container">
        <div class="row d_floarig">
            <div class="col-sm-2 d_padi ">
                <img src="{$img}/baozhang.png" />
                <p>30天退换货保障</p>
            </div>
            <div class="col-sm-2 d_padi magleft">
                <img src="{$img}/baoyou.png" />
                <p>购买满199包运费</p>
            </div>
            <div class="col-sm-2 d_padi magleft">
                <img src="{$img}/fukuan.png" />
                <p>货到付款</p>
            </div>
            <div class="col-sm-2 d_padi flaorigt">
                <img src="{$img}/kefu.png" />
                <p>售后无忧</p>
            </div>
        </div>
    </div>
</div>