<form action="" method="post">
    <div class="container mag-top">
        <div class="row">
            <div class="col-sm-4 d_padi">
                <div class="d_logo">
                    {include file="default/layout/logo"}
                </div>
            </div>
            <div class="col-sm-6 d_padi pull-right input">
                <input class="input1" type="text" name="" id="" placeholder="输入关键字" />
                <input class="input2" type="button" value="搜索">
            </div>
        </div>
    </div>
</form>