<div class="page">
    <div class="page1">
        <input class="pagefy" type="button" name="" id="" value="首页" />
        <input class="pagefy" type="button" name="" id="" value="上一页" />
        <input class="pagefy" type="button" name="" id="" value="1" />
        <input class="pagefy" type="button" name="" id="" value="2" />
        <input class="pagefy" type="button" name="" id="" value="3" />
        <input class="pagefy" type="button" name="" id="" value="..." />
        <input class="pagefy" type="button" name="" id="" value="20" />
        <input class="pagefy" type="button" name="" id="" value="末页" />
        <input class="pagefy" type="button" name="" id="" value="下一页" />
        <span class="gon">共20页</span>
        <span>跳转至</span>
        <input class="tiaoz" type="text" name="" id="" value="" />
        <span>页</span>
        <input class="pagefy" type="button" name="" id="" value="确定" />
    </div>
</div>